.bgT{
    background-color: transparent !important;

}

/* .logo{
    height: 3.5rem; 
    /* width: 3.5rem;

} */
.nav-link{
    color: #09566E !important ;
    padding: 0 0 4px;
}

.nav-link:hover{

    transition: 0.2s;
    border-bottom: solid 3px #4b9db6;
    padding: 0%;
}
/* .button{

    margin-left:75%;
    color: #fff !important;
    padding: 8px 0;
    text-align: center;
    justify-content: end;
    align-items: flex-end;
    background-color: #09566E;
    width: 25%;
    border-radius: 100px;
    border-color: #09566E;

}
.button:hover, .button:focus{
    background-color: #0C9FB3;
    padding: 10px 0;
    border-style: none;
} */

.teamlinks{
    color:#09566E;
    border-bottom: 2px solid #09566E;
}
.teamlinks:hover{
    color:#1F8088;
    border-bottom: 2px solid #1F8088;

}

@media (min-width: 992px) and (max-width : 1200px){
    .marginLarge{
            margin-left: 3rem;
    }
}
