.card{
    position: relative;
    height: 400px;
    width: 300px;
    background-color: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px) ;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);

}

.card .details{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1.2rem;
}

.card .details .content .social-icons{
    position: relative;
}
.card .details .content .social-icons a{
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #09566E;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 5px;
}