.footer{
    /* height: 10rem; */
    margin-top: 10vh;
    background-color: #1F8088 !important;
    color: #fff;
}
.logo{
    height: 3rem;
    width: 3rem;

}

.team-linkF{
    border-left: solid 3px;
    transition: 0.4s;
    padding: 6px;
    padding-left: 28px;
}
.team-linkF:hover{
    border-left-style:none ;
    padding-left: 6px;
    transition: 0.4s;
}
.footerIcons{
    
    color: #fff;
    /* font-size: 3rem; */

}

.footer-p p{
    margin-bottom: 0;
}

