html{
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*{
  width: 100%;
  font-family: 'Rubik';
  scroll-behavior: smooth;
  /* overflow-x: hidden; */

}
/* .container{
  justify-content: center;
  align-items: center;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
} */

/* @media screen and (min-width: 600px) {
  //For Tablets
      .container {
          width: 100;
      }
  }
  
  @media screen and (min-width: 768px) {
  //For Laptops
      .container {
          width: 738px;
      }
  }
  
  @media screen and (min-width: 992px) {
  //For Large Laptops
      .container {
          width: 962px;
      }
  }
  
  @media screen and (min-width: 1280px) {
  //For Big TV's (HD Screens) 
      .container {
          width: 1250px;
      }
  }
  
  
  @media screen and (min-width: 1920px) {
  //For Projectors or Higher Resolution Screens (Full HD)
      .container {
          width: 1890px;
      }
  }
  @media screen and (min-width: 3840px) {
  //For 4K Displays (Ultra HD)
      .container {
          width: 3810px;
      }
  } */







@media (max-width: 767px) {                  
  .content-to-hide {
     display: none;
  }




  .teamCards{
    padding: 0;
    margin: 0;
  }

}